# IDE
.idea
.vscode
*.swp
*.swo

# Build output
dist
coverage
*.tsbuildinfo
dcc-transactions.min.js
esbuild-browser.mjs
test-bundle.cjs

# Dependencies
node_modules

# OS
.DS_Store
Thumbs.db

# Misc
.size-snapshot.json
.rpt2_cache
*.local
docs
.history/
